body {
    margin: 0;
    font-family: 'Noto Serif TC', serif;
    background: url('bg3.jpg') no-repeat center center fixed; /* */
    background-size: cover;
    color: #e0e0e0;
    transition: background 1s ease-in;
}

.container {
    background: rgba(0, 0, 0, 0.75); /* 確保文字清晰 */
    border: 1px solid #d4af37;
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.preface-text {
    font-size: 0.9rem;
    line-height: 1.8;
    color: #c0c0c0;
    text-align: justify;
    margin: 20px 0;
    border-top: 1px solid #444;
    padding-top: 15px;
}
